body {
  font-family: Helvetica;
}

.hidden {
  display: none;
}

.tile {
  border: 2px solid #333;  
  float: left;
  font-size: 1.5em;  
  height: 64px;
  width: 64px;
  line-height: 64px;
  text-align: center;  
  margin: 4px;  
}

#word {
  clear: both;
}

.slot {
  border: 2px dotted #333;  
  float: left;
  height: 64px;
  width: 64px;
  line-height: 64px;
  text-align: center;  
  margin: 4px;  
}

.slot.over {
  border: 2px dotted red;  
}

#control {
  clear: both;
  padding-top: 16px;
  margin: 16px;
}
