body {
  font-family: Helvetica;
}

.hidden {
  display: none;
}

#board {
  float: left;
  height: 340px;
  width: 340px;
  margin-right: 10px;
}

#board .space {
  float: left;
  height: 32px;
  width: 32px;
  border: 1px solid #777;
  position: relative;
}

#board .space.black {
  background-color: black;
}

#board .space.green {
  background-color: green;
}

#board .space.orange {
  background-color: orange;
}

#board .space.purple {
  background-color: purple;
}

#board .space.blue {
  background-color: blue;
}

#board .space.special {
  background-color: #fff;
}

#board .space.special::after {
  content: "S";
  color: #333;  
  position: absolute;
  top: 7px;
  left: 10px;
}

#board .space.red {
  background-color: red;
}

#board .space.yellow {
  background-color: yellow;
}

#board .space.silver {
  background-color: silver;
}

#board .space.gold {
  background-color: gold;
}

#board .space.black-widow::after {
  content: "BW";
  color: #777;  
  position: absolute;  
  top: 7px;
  left: 3px;
  z-index: 3;
}

#board .space.hawkeye::after {
  content: "H";
  color: #777;  
  position: absolute;  
  top: 7px;
  left: 10px;
  z-index: 2;
}

#playersTurn {
  margin: 10px;
}

#lastMove {
  margin: 10px;
}

button {
  font-size: 14px;
  height: 50px;
  width: 100px;
  display: block;
}

#item {
  float: left;
  margin-top: 20px;
	height: 200px;
	width: 200px;
  background-repeat: no-repeat;
}

#item.shield {
	background-image: url(images/shield.jpg);
}

#item.helmet {
	background-image: url(images/helmet.jpg);
}

#item.hammer {
	background-image: url(images/hammer.jpg);
}

#item.bow {
	background-image: url(images/bow.jpg);
}

#item.gun {
	background-image: url(images/gun.jpg);
}

#item.loki {
	background-image: url(images/loki.jpg);
}